@charset "UTF-8";
*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
body{
    background: #FCFCFC;
}
header{
    background: #ffffff;
    width: 100%;
    height: 92px;
    border-bottom: 3px solid #E4E4E4;
    display: flex;
    justify-content: space-around;
    align-items: center;
    .head_right{
        display: flex;
        margin-left: 400px;
        a{
            margin-top: 3px;
        }
        select{
            margin-left: 27px;
            border: none;
            border: 3px solid #E4E4E4;
            outline: none;
        }
    }
}
.content{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
    .biao{
        width: 300px;
        display: flex;
        flex-direction: column;
        .dl{
            display: flex;
            justify-content: space-between;
            margin-bottom: 10px;
        }
        input:nth-of-type(1){
            height: 40px;
            padding: 0 30px;
            border: none;
            border: 2px solid #E4E4E4;
        }
        input:nth-of-type(2){
            height: 40px;
            padding: 0 30px;
            margin-top: 10px;
            border: none;
            border: 2px solid #E4E4E4;
        }
        .wang{
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 10px;
            .zi{
                 display: flex;
                 align-items: center;
            }
        }
        button{
            height: 40px;
            color: #FFFFFF;
            background: #FF3C3C;
            border: none;
            font-size: 16px;
        }
        .geng{
            margin-top: 10px;
            font-size: 12px;
        }
    }
}
footer{
    margin-top: 100px;
    text-align: center;
    p{
        margin-top: 20px;
        font-size: 12px;
    }
}
